.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color:#C4D3F5;
}

table {
background-color:#fff;
  border-radius:8px;
}

td {
  width:360px;
  padding:19px;
  border-bottom: 1px solid #f2f2f2;
}

tr{
  border-bottom: 1px solid #f2f2f2;
}

th{
  background: #6c7ae0;
  text-align: left;
  color:#fff;
  padding:19px;
}